.panel.panel-primary
  .panel-body
    %h3
      Stats by month
    %p
      = render partial: "users/stats/by_month"

.panel.panel-primary
  .panel-body
    %h3
      Stats from last year (avgs)
    %p
      = render partial: "users/stats/last_year"



